@{
    ViewData["Title"] = "Portafolio";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">
    <h1 class-"display.4">L. Angel Castillo Vega</h1>
    <h2>Este es mi portafolio de.NET y JavaScript.</h2>
    
    <img 
    id="foto"
    src="~/imagenes/Yo.jpg" alt="Foto de Angel" />

</div>
<div class="row">
    <div class="col">
        Columna 1
    </div>
    <div class="col">
        Columna 2
    </div>
    <div class="col">
        Columna 3
    </div>
    <div class="col">
        Columna 4
    </div>
    <div class="col">
        Columna 5
    </div>
    <div class="col">
        Columna 6
    </div>
</div>
<div class="row">
    <div class="col-sm">
        Columna 1
    </div>
    <div class="col-sm">
        Columna 2
    </div>
    <div class="col-sm">
        Columna 3
    </div>
    <div class="col-sm">
        Columna 4
    </div>
    <div class="col-sm">
        Columna 5
    </div>
    <div class="col-sm">
        Columna 6
    </div>
</div>